/***************************** styles.css ******************************/
/*Start : Fonts*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,800');
/*End: Fonts*/

/*Start : Reset CSS*/
/*
   http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*End : Reset CSS */

/*Start : Global CSS */
body {
	font-family: Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
}
img {
	max-width: 100%;
}
.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  box-sizing: border-box;
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
.clearfix:after {
    display: table;
    content: '';
    clear: both;
}
.content {
	margin-top: 80px;
  transition: all 0.5s ease-in-out;
}
#header.collapsed ~ .content {
  margin-top: 50px;
}
.fixed-backdrop {
  position: fixed;
  height: calc(100vh - 80px);
  top: 80px;
  width: 100%;
  z-index: -999;
  background: url('../images/backdrop.png');  
  background-size: cover;
  transition: all 0.5s ease-in-out;    
}
#header.collapsed ~ .fixed-backdrop {
  top: 50px;
  height: calc(100vh - 50px);
}
.internal-link,
.external-link {
  color: #000;
  text-decoration: underline;
  text-decoration-style: double;
  transition: color 0.25s ease-in-out;
}
.internal-link:hover,
.external-link:hover {
  color: #333;
}
/*End : Global CSS*/

/*Start : Header CSS*/
#header {
	position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 80px;
  background: #000;
  box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
  z-index: 999;
  transition: height 0.5s ease-in-out;
}
#header.collapsed {
    height: 50px;
}
.header-logo {
   float: left;
   width: 350px;
   padding: 5.5px 0;
   transition: all 0.5s ease-in-out;
}
#header.collapsed .header-logo {
    width: 225px;
    padding: 2.4px 0px;
}
.header-logo a {
   font-size: 0;
}
.header-links {
   float: right;
   padding: 30px 0px;
   transition: padding 0.5s ease-in-out;
}
#header.collapsed .header-links {
    padding: 16px 0;
}
.header-links a {
   padding: 10px 20px;
   font-size: 20px;
   text-decoration: none;
   color: #fe5c29;
   letter-spacing: 0.025em;
   transition: all 0.5s ease-in-out;
}
.header-links a:last-child {
  padding-right: 0;
}
#header.collapsed .header-links a {
    font-size: 18px;
    padding: 5px 20px;
}
#header.collapsed .header-links a:last-child {
  padding-right: 0;
}
/*End : Header CSS*/

/*Start : Home Page*/
.section { 
  position: relative; 
  font-family: Open Sans;
  color: black;
  text-align: center;
  box-sizing: border-box;
  height: 100vh;
  transition: all 0.5s ease-in-out;
}
.section:first-of-type {
  height: calc(100vh - 80px)
}
#header.collapsed ~ .content .section:first-of-type {
  height: calc(100vh - 50px) 
}
.section-content {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  padding: 0 5%;
  box-sizing: border-box;
}
.section-head {
  font-weight: 800;
  letter-spacing: -10px;
  font-size: 130px;
  line-height: 130px;
  padding-bottom: 30px;
}
.section-subhead {
  font-weight: 800;
  letter-spacing: -5px;
  font-size: 80px;
  line-height: 80px;
  padding-bottom: 30px;
}
.section-copy {
  font-size: 50px;
  line-height: 52px;
  letter-spacing: -3px;
  font-weight: 400;
  padding: 15px 0;
}
.intro-section {
	margin-top: 10px;
	font-size: 18px;
  line-height: 1.4;
}
.welcome-section,
.meet-us,
.cant-wait,
.have-questions {
  font-size: 18px;
  letter-spacing: 0.05em;
  text-align: center;
  line-height: 24px;
  font-weight: bold;
  padding: 40px 5% 0 5%;
  box-sizing: border-box;
  color: #333;
}
.welcome-message p {
  padding-bottom: 10px;
}
.facts-anchor {
    text-align: center;
    padding: 30px 0 60px 0;
    letter-spacing: 0.05em;
    font-weight: bold;
    font-size: 16px;
    position: relative;
}
.facts-anchor:after {
    content: '\21E9';
    position: absolute;
    left: 50%;
    transform: translate(-50%, 30px);
    font-family: monospace;
    font-size: 40px;
}
/*End : Home Page */

/*Start : Fact Carousel Styles*/
.fact-carousel {
	margin-top: 10px;
}
.fact-item {
  height: 400px!important;
  position: relative;
}
.fact-item:nth-child(4n) {
  background: #0F9D58;
}
.fact-item:nth-child(4n+1) {
  background: #DB4437;
}
.fact-item:nth-child(4n+2) {
  background: #F4B400;
}
.fact-item:nth-child(4n+3) {
  background: #4285F4;
}
.fact-carousel .slick-list {
  border: 5px solid #000;
}
.item-content {
  position: absolute;
  top: 50%;
  width: 100%;
  padding: 10px 10%;
  transform: translateY(-50%);
  text-align: center;
  color: white;
  box-sizing: border-box;  
}
.item-head {
    font-weight: bold;
    padding: 0 15%;
    font-size: 28px;
    line-height: 34px;
    letter-spacing: 0.01em;
}
.item-copy {
    font-size: 18px;
    line-height: 26px;
    padding-top: 10px;
    letter-spacing: 0.05em;
}
.fact-carousel .internal-link,
.fact-carousel .external-link {
  color: #fff;
}
.fact-carousel .internal-link:hover,
.fact-carousel .external-link:hover {
  color: #ddd;
}
/*End : Fact Carousel Styles*/

/*Start: Contact Us Page Styles*/
.contact-us-table {
  margin-bottom: 10px;
}
.contact-us-row {
  position: relative;
  height: 100vh;
}
.contact-us-tile {
    width: 25%;
    border: 1px solid #ccc;
    background: #fafafa;
    box-shadow: 3px 3px 10px 2px rgba(0,0,0,0.4);
    transition: box-shadow 0.3s ease-in-out;
    border-radius: 4px;
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(-50%, -50%);
}
.contact-us-tile:hover {
    box-shadow: 6px 6px 12px 2px rgba(0,0,0,0.5);
}
.contact-us-image {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}
.contact-us-tile:nth-of-type(2n) {
    float: right;
    left: 75%;
}
.contact-us-info {
    padding: 0 10px;
}
.contact-us-info p {
    margin: 0;
    padding: 3px 0;
    line-height: 1;
    font-size: 14px;
}
.contact-us-name {
    font-weight: bold;
    font-size: 16px!important;
    text-transform: uppercase;
}
.contact-us-designation {
    font-weight: bold;
}
.contact-us-location,
.contact-us-school {
    padding: 2px 0;
}
.contact-us-email {
    padding: 3px 0 10px 0;
    display: inline-block;
    font-size: 14px;
}
.contact-us-phone {
    padding-bottom: 10px;
    font-size: 12px;
}
.contact-us-linkedin {
  display: none;
}
/*End: Contact Us Page Styles*/